{{#link-to 'blog.post' model.slug class='list-item-content'}}
  <header>
    <time datetime={{date-format-iso model.date}}>
      {{~date-format model.date~}}
    </time>
    <h2>{{model.title}}</h2>
  </header>
  {{{model.excerpt}}}
{{/link-to}}
