<div class="page-content">
  {{#if networkError}}
    <h1>Network Error</h1>

    <p>You are currently {{if onLine 'online' 'offline'}}</p>

    <a href="">Reload the page</a>
  {{else}}
    <h1>Error</h1>

    {{if model.message model.message 'Unknown error'}}

    <a href="/">Back to sarahtherad.com</a>
  {{/if}}
</div>
