@font-face {
  font-family: 'Slabo 27px';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Slabo 27px'),
    local('Slabo27px-Regular'),
    url(/assets/fonts/slabo27px.woff2) format('woff2'),
    url(/assets/fonts/slabo27px.woff) format('woff'),
}
