.logo {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  transition: color 200ms;
  z-index: 1;
}
.logo-path {
  fill: currentColor;
}
.logo > svg {
  width: 120px;
  height: 120px;
  transition: transform 200ms;
  transform-origin: top right;
}
@media screen and (min-width: 640px) {
  .logo .rect {
    display: none;
  }
  .logo > svg {
    transform: scale(1.667);
  }
}

@media screen and (min-width: 800px) {
  .home .logo > svg {
    transform: scale(2.5);
  }
}

/* extra space for logo */
s-article-list::before {
  content: '';
  pointer-events: none;
  min-width: calc(300px - 1rem);
  min-height: calc(300px - 1rem - 2rem);
  grid-column: -6 / -1;
  grid-row: 1 / 6;
}

@media screen and (min-width: 1024px) {
  s-article-list::before {
    width: calc(300px - 4rem);
    height: calc(300px - 4rem);
  }
}
