.root.menu-open {
  .logo > svg {
    transform: scale(0.8);
  }
  .logo .rect {
    display: block;
  }
  .header-icon {
    opacity: 0;
  }
}

.logo {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  transition: color 200ms, opacity 200ms;
  z-index: 1;
}
.logo-path {
  fill: currentColor;
}
.logo > svg {
  width: 120px;
  height: 120px;
  transition: transform 200ms;
  transform-origin: top right;
  transform: scale(1.2);
}
.header-icon {
  width: 3rem;
  height: 3rem;
  display: block;
  position: absolute;
  top: 15rem;
  right: 1rem;
  z-index: 1;
  // TODO: transition transform instead of top
  transition: color 200ms, opacity 200ms, top 200ms;

  &.email {
    top: 19rem;
  }

  @media screen and (max-width: 719px) {
    display: none;
  }
}
.header-icon > svg > path {
  fill: currentColor;
}
.radio-show .header-icon {
  display: none;
}
@media screen and (min-width: 640px) {
  .logo .rect {
    display: none;
  }
}

@media screen and (min-width: 800px) {
  .home .header-icon {
    top: 20rem;

    &.email {
      top: 24rem;
    }
  }
}

/* extra space for logo */
@supports (display: grid) {
  .logo > svg {
    transform: scale(1);
  }

  s-article-list::before {
    content: '';
    pointer-events: none;
    min-width: calc(300px - 1rem);
    min-height: calc(300px - 1rem - 2rem);
    grid-column: -6 / -1;
    grid-row: 1 / 6;
  }

  @media screen and (min-width: 1024px) {
    s-article-list::before {
      width: calc(300px - 4rem);
      height: calc(300px - 4rem);
    }
  }
  @media screen and (min-width: 640px) {
    .logo > svg {
      transform: scale(1.667);
    }
  }
  @media screen and (min-width: 800px) {
    .home .logo > svg {
      transform: scale(2.5);
    }
  }
}
