s-article-list {
  display: block;
  grid-auto-flow: dense;
  grid-template-columns: repeat(auto-fit, minmax(1rem, 1fr));
  grid-gap: 2rem;
}

.list-item {
  grid-row: span 8;
  grid-column: span 8;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  max-width: 640px;
  min-width: 300px;
}

.list-item--half-height {
  grid-row: span 4;
}

.list-item-content {
  background: #fff;
  padding: 1.5rem 2.5rem;
}

.list-item > a {
  text-decoration: inherit;
  color: inherit;
}
.list-item > a:hover {
  font-weight: normal;
}

.list-item > a > img {
  align-self: center;
  max-width: 100%;
  min-height: 5rem;
  width: auto;
  height: auto;
}

.list-item--graphics > a {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
}

.list-item--radio-show {
  font-size: 16px;
  flex: 2;
}

.list-item--auto {
  grid-column: auto;
  grid-row: auto;
}

.list-item--wide {
  grid-column: span 12;
  flex: 2;
}

.list-item--radio-show {
  grid-row: span 2;
  grid-column: span 8;
}
.list-item--radio-show > iframe {
  width: 100%;
  height: 64px;
}
@media screen and (min-width: 480px) {
  .list-item--radio-show {
    grid-column: span 12;
  }
}
@media screen and (min-width: 768px) {
  s-article-list {
    display: flex;
    flex-wrap: wrap;
  }

  .list-item {
    margin-bottom: 2rem;
    margin-right: 2rem;
  }
  @supports (display: grid) {
    s-article-list {
      display: grid;
    }
    .list-item {
      margin-right: 0;
      margin-bottom: 0;
    }
  }
}
@media screen and (min-height: 480px) {
  .list-item--radio-show > iframe {
    height: 124px;
  }
}
@media screen and (min-height: 800px) {
  .list-item--radio-show > iframe {
    height: 184px;
  }
}
