.graphics-post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  > article {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    max-width: 95vw;
    max-height: 95vh;
    min-width: 300px;
    background-color: #fff;
    padding: 0.5rem 2rem 2rem;
    pointer-events: auto;
  }
  .swiper-container {
    width: calc(100% - 4rem);
    height: 100%;
    display: flex;
    margin: 0 2rem;
  }
  .swiper-wrapper {
    height: auto;
  }
  img {
    display: block;
    max-width: 100%;
    max-height: 100%;
  }
  img[src$=".svg"], iframe {
    width: 100%;
    height: 100%;
  }
  .next-picture,
  .previous-picture {
    appearance: none;
    cursor: pointer;
    border: 0;
    background: none;
    position: absolute;
    top: calc(50% - 1rem - 2px);
    z-index: 1;
  }
  .previous-picture {
    left: 1rem;
  }
  .next-picture {
    right: 1rem;
  }
  .chevron {
    width: 2rem;
    height: 2rem;
  }
  .close {
    width: 1.5rem;
    height: 1.5rem;
  }
}
.graphics-post--svg {
  > article {
    width: 90vw;
    height: 90vh;
  }
}
.graphics-post-title {
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;

  > h1 {
    font-size: 1.5rem;
    margin: 0.83em 0;
  }

  > a {
    font-size: 3em;
    text-decoration: none;
    color: #000;
  }
}

.graphics-post-show-content {
  position: absolute;
  bottom: 0;
  right: 2rem;
  z-index: 1;
  appearance: none;
  background: rgba(0,0,0,.8);
  color: #fff;
  border: none;
  padding: 0.5rem;
  &::before {
    display: inline-block;
    content: '›';
    transition: transform 200ms;
  }
}

.graphics-post-content {
  position: absolute;
  bottom: 0;
  right: 2rem;
  transform: translateY(100%);
  transition: transform 200ms;
  z-index: 0;
  background: rgba(0,0,0,.8);
  padding: 1rem;
  width: 280px;
  color: #fff;
  &--visible {
    transform: translateY(0);
  }
  &--visible + .graphics-post-show-content::before {
    transform: rotate(-90deg);
  }
}
