s-mixcloud {
  @media screen and (min-width: 420px) {
    display: flex;
    justify-content: flex-start;
  }

  > .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    margin-left: 1rem;
  }
  > .info > .title-row {
    display: flex;
  }
  > .info > .title-row > .play {
    margin-right: 1rem;
    width: 42px;
    height: 42px;
    cursor: pointer;
    padding: 0;
    appearance: none;
    border: 1px solid #000;
    background: none;
  }
  > .info > .title-row > .play > svg {
    width: 100%;
    height: 100%;
  }
  > .info > .stats-row {
    display: flex;
    justify-content: flex-end;
    white-space: nowrap;
    font-size: 0.8em;
    @media screen and (max-width: 560px) {
      flex-wrap: wrap;
    }
  }
  > .info > .stats-row > :not(:last-child) {
    margin-right: 2rem;
  }
  > .info > .stats-row svg {
    width: 1.2em;
    height: 1.2em;
    vertical-align: middle;
  }
  > .info > .tags {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: calc(42px + 1rem);
    @media screen and (max-width: 639px) {
      display: none;
    }
  }
  > .info > .tags > li::before {
    content: '#';
  }
  > .info > .tags > li:not(:last-child)::after {
    content: ',\00A0';
  }
}
