<article class="page-content">
  <h1>About</h1>

  <p>
    As you might already know, this is Sarah.
    I'm based in Thun, Switzerland and I am into graphic design,
    making radio and loud guitars.
    Therefore, this is basically what you'll find on this website.
  </p>

  <p>
    Everything you see is done by me, including background pics
    (expect the ones I'm on it, obviously.
    These are done by <a href="https://twitter.com/grenzbild">@ad.kat</a>)
  </p>

  <p>
    If you'd like to work with me, feel free to reach out, no matter
    what you wanna do. I'm open minded for projects you're passioned
    about. So share your ideas and thoughts with me and let's create awesome
    things together - don't be shy! ☺
  </p>

  <p>
    One more thing:
    Genius on the code for this website and general partner in crime
    is <a href="https://topaxi.ch/">@topaxi</a> and yes,
    we are bookable for your web projects as a team, great, huh? 😃
  </p>


  <h2>Impressum</h2>

  <p>
    All rights reserved<br>
    Christener Graphics &amp; Communications
  </p>

  <address>
    <p>
      Sarah Christener<br>
      aka Sarahtherad<br>
      Seefeldstrasse 18<br>

      3600 Thun, Switzerland<br>
      <a href="mailto:info@sarahtherad.com">info@sarahtherad.com</a>
    </p>
  </address>

  <p>
    UID: CHE-295.472.775
  </p>
</article>
