{{title 'Graphics'}}
{{outlet}}
{{#s-article-list model=model.data}}
  <article class="list-item list-item--wide list-item--half-height">
    <p>
      If one is lucky enough to be able to create things,
      one does never stop to create things.
      Therefore I always create. With everything I do. Creating is not just
      a job, it defines the way of how you see the world.
    </p>
    <p>
      I myself am happy like clam to be able to see and understand the world
      a little bit different and to be able to create beautiful things
      out of it.
    </p>
    <p>
      Find some of my work below and reach out if you ever need something
      to be done - don't be shy 😉
    </p>
  </article>
{{/s-article-list}}
