{{title 'Christener Graphics & Communications'}}

{{#s-article-list model=model}}
  <article class="list-item list-item--wide">
    <div class="list-item-content">
      <h1>Welcome fellow earthling</h1>
      <p>
        This is Sarah, founder of Christener Graphics &amp; Communications
        and I'm happy you came all the way to check out my work.
      </p>
      <p>
        You'll find a collection of my
        <a href={{href-to 'graphics'}}>graphic artworks</a>,
        <a href={{href-to 'radio-show'}}>recordings from my radio show</a>,
        as well as some other shiny stuff about my life on this
        little website of mine. Dive in, browse around and enjoy the show.
      </p>
      <p>
        Like what you see or hear?
      </p>
      <p>
        Feel free to hit me up for any projects,
        I'm looking forward to hear your ideas.
      </p>
      <p>
        Spread the love.
      </p>
      <p>
        yours truly,<br>
        sarah
      </p>
    </div>
  </article>
{{/s-article-list}}
